@page
@model BikeRentApp.Pages.Purchase.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>New Purchase</h1>
<form method="post">
    <input type="hidden" asp-for="Purchase.Id" />
    <div class="form-row">
        <div class="col-sm-5">
            <label asp-for="Purchase.CustomerId"></label>
            <select class="form-control" asp-for="Purchase.CustomerId" asp-items="@Model.Customers">
                <option value="">Select customer!</option>
            </select>
            <span class="text-danger" asp-validation-for="Purchase.CustomerId"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-5">
            <label>PRICE-buy</label>
            <input class="form-control" name="BuyPrice" type="number" />
        </div>
        <div class="form-group col-sm-5">
            <label>PRICE-rent</label>
            <input class="form-control" name="RentPrice" type="number" />
        </div>
        <div class="form-group col-sm-2 d-flex">
            <button type="submit" class="btn btn-secondary align-self-end" asp-page-handler="Purchase">PURCHASE</button>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" asp-page-handler="">Save</button>
    </div>
    <div class="form-group">
        <a class="btn btn-success" asp-page="./List">Back to all purchases</a>
    </div>

    @for (int i = 0; i < Model.Purchase.Bikes.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Purchase.Bikes[i].Price" />
        <input type="hidden" asp-for="@Model.Purchase.Bikes[i].BikeModel" />
    }
</form>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info">@Model.Message</div>
}

