@model BikeRentApp.Core.Membership.Membership
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="alert alert-dark">
    Are you sure you want to delete @Model.MembershipType?
</div>
<form method="post">
    <button type="submit" class="btn btn-dark">Yes!</button>
    <a asp-action="List" class="btn btn-outline-dark">Cancel</a>
</form>

