@model BikeRentApp.Core.Customer
@{
    ViewData["Title"] = "Delete";
}

<h1>Deleting @Model.FirstName @Model.LastName!</h1>
<div class="alert alert-dark">
    Are you sure you want to delete @Model.FirstName @Model.LastName?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-action="List" class="btn btn-outline-dark">Cancel</a>
</form>

