@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">W E L C O M E</h1>
    <a class="btn btn-success btn-lg btn-block" asp-page="/Purchase/List"> P U R C H A S E </a>
</div>
