@{
    ViewData["Title"] = "Home Page";
}

    <div class="col-sm-12">
        <div class="hovereffect">
            <img class="img-responsive mx-auto d-block" src="~/Images/logo.jpg" alt="logo" style="width:750px;height:750px">
            <div class="overlay">
                <h2>W E L C O M E</h2>
                <!--<a class="info" asp-controller=""="./Purchase/List">BOOK    NOW</a>  -->

                <a class="btn btn-primary" asp-controller="Memberships" asp-action="List">Membership List</a>
                <a class="btn btn-primary" asp-controller="Customers" asp-action="List">Customers List</a>
            </div>
        </div>
    </div>
